<template>
  <v-container fluid>
    <app-header v-on:go-home="backToHome" v-on:logout="backToHome" v-on:login="refresh"/>
    <v-content class="pt-5 pb-0">
      <v-sheet
        max-width="900"
        class="mx-auto"
      >
        <router-view/>
      </v-sheet>
    </v-content>
    <v-progress-circular
      class="progress-circle mt-4 mb-12"
      :size="70"
      :width="7"
      color="purple"
      indeterminate
      v-bind:class="{visible: isLoading}"
    ></v-progress-circular>
    <app-footer/>
  </v-container>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import AppHeader from '../components/AppHeader'
  import AppFooter from '../components/AppFooter'

  export default {
    name: 'Home',

    data: () => {
      return {
        isLoading: false,
        loadMore: false
      }
    },

    components: {
      AppHeader,
      AppFooter
    },

    props: ['reload'],

    computed: {
      ...mapGetters({
        hasLocalToken: 'auth/hasLocalToken'
      })
    },

    methods: {
      ...mapActions({
        getVideos: 'video/index',
        clearVideos: 'video/clear',
        fetchUser: 'auth/fetchUser'
      }),
      async fetchVideos () {
        this.isLoading = true
        try {
          await this.getVideos()
        } finally {
          this.isLoading = false
        }
      },
      async backToHome () {
        this.$router.replace('/').catch(() => { })
        await this.refresh()
      },
      async refresh () {
        await this.clearVideos()
        await this.fetchVideos()
      },
      async fetchScroll(hitBottom, isLoading) {
        if (hitBottom && !isLoading) {
          // Scrolled to bottom -> load more
          await this.fetchVideos()
        }
      }
    },

    async created () {
      if (this.hasLocalToken) {
        await this.fetchUser()
      }
      await this.refresh()
    },

    async mounted() {
      let home = this;
      window.onscroll = async () => {
        let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight
        await home.fetchScroll(bottomOfWindow, this.isLoading)
      }
    }
  }
</script>

<style scoped>
  .progress-circle {
    opacity: 0.01;
  }
  .progress-circle.visible {
    opacity: 1;
  }
</style>

