<template>
  <v-footer app dark padless>
    <v-col class="text-center" cols="12">
      Funny Movies - Copyright &copy; 2020
    </v-col>
  </v-footer>
</template>

<script>
  export default {
    name: 'AppFooter'
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
