<template>
  <v-app-bar
    app
    color="primary"
    dark
    height="64"
    fixed
  >
    <v-container fluid>
      <v-row>
        <v-img
          @click.stop="goHome"
          alt="Vuetify Logo"
          class="shrink mr-2 home-image"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />
        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 center-sm-and-down hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />

        <v-spacer class="hidden-sm-and-down"/>

        <v-col class="hidden-md-and-up">
          <v-row v-if="isAuthenticated" align="center">
            <v-spacer/>
            <span class="email">Welcome, {{ authenticatedUser.email }}</span>
            <div class="hidden-md-and-up">
              <v-btn icon color="white" class="ml-6 mr-1" to="/share">
                <v-icon dark>present_to_all</v-icon>
              </v-btn>
              <v-btn icon color="white" class="ml-1 mr-1" @click.stop="onLogout">
                <v-icon dark>exit_to_app</v-icon>
              </v-btn>
            </div>
            <div class="hidden-sm-and-down">
              <v-btn rounded outlined color="white" class="ml-6 mr-1" to="/share">Share a movie</v-btn>
              <v-btn rounded outlined color="white" class="ml-1 mr-1" @click.stop="onLogout">Logout</v-btn>
            </div>
          </v-row>
          <v-row v-else>
            <v-spacer/>
            <v-btn rounded outlined color="white" class="ml-1 mr-1" @click.stop="showLoginDialog">Login</v-btn>
            <v-btn rounded outlined color="white" class="ml-1 mr-1" @click.stop="showRegisterDialog">Register</v-btn>
          </v-row>
        </v-col>

        <v-col sm="10" md="9" lg="7" xl="5" class="hidden-sm-and-down">
          <v-row v-if="isAuthenticated" align="center">
            <v-spacer/>
            <span class="email">Welcome, {{ authenticatedUser.email }}</span>
            <v-btn rounded outlined color="white" class="ml-6 mr-1" to="/share">Share a movie</v-btn>
            <v-btn rounded outlined color="white" class="ml-1 mr-1" @click.stop="onLogout">Logout</v-btn>
          </v-row>
          <v-row v-else>
            <v-spacer/>
            <v-text-field
              outlined
              rounded
              dense
              hide-details="true"
              v-model="email"
              label="email"
              type="email"
              required
              class="ml-1 mr-1 email"
            ></v-text-field>
            <v-text-field
              outlined
              rounded
              dense
              hide-details="true"
              v-model="password"
              label="password"
              type="password"
              required
              class="ml-1 mr-1 password"
            ></v-text-field>
            <v-btn rounded outlined color="white" class="ml-1 mr-1" @click.stop="onLogin">Login</v-btn>
            <v-btn rounded outlined color="white" class="ml-1 mr-1" @click.stop="showRegisterDialog">Register</v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <dialog-login ref="dLogin"/>
    <dialog-register ref="dRegister"/>
  </v-app-bar>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import DialogLogin from './DialogLogin'
  import DialogRegister from './DialogRegister'

  export default {
    name: 'AppHeader',
    data: () => {
      return {
        email: null,
        password: null
      }
    },
    components: {
      DialogRegister,
      DialogLogin
    },
    computed: {
      ...mapGetters({
        isAuthenticated: 'auth/isAuthenticated',
        authenticatedUser: 'auth/authenticatedUser',
      })
    },
    methods: {
      ...mapActions({
        login: 'auth/login',
        register: 'auth/register',
        logout: 'auth/logout'
      }),
      showLoginDialog () {
        this.$refs.dLogin.show()
      },
      showRegisterDialog () {
        this.$refs.dRegister.show()
      },
      onLogin () {
        let params = {
          provider: 'local',
          email: this.email,
          password: this.password
        }
        this.login(params)
        .then(() => {
          this.$emit('login')
        })
      },
      onLogout () {
        this.email = null
        this.password = null
        this
          .logout()
          .then(() => {
            this.$emit('logout')
          })
      },
      goHome () {
        this.$emit('go-home')
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .home-image:hover {
    cursor: pointer;
  }
</style>
