<template>
  <v-row justify="center">
    <v-dialog
      v-model="visibility"
      max-width="450"
      :persistent="true"
    >
      <v-card>
        <v-card-title class="headline">Login</v-card-title>
        <v-card-subtitle class="subtitle">Please input your email and password to login</v-card-subtitle>
        <v-card-text>
          <v-form
            class="pl-0 pr-0"
            ref="form"
          >
            <v-text-field
              hide-details="true"
              class="mb-6 email"
              v-model="email"
              label="email"
              type="email"
              outlined
              rounded
              dense
              required
            ></v-text-field>

            <v-text-field
              hide-details="true"
              class="password"
              v-model="password"
              label="password"
              type="password"
              outlined
              rounded
              dense
              required
            ></v-text-field>
          </v-form>
        </v-card-text>

        <v-card-actions class="mr-4 pb-4">
          <v-spacer></v-spacer>
          <v-btn
            rounded outlined
            color="primary"
            @click.stop="onLogin"
          >
            Login
          </v-btn>
          <v-btn
            rounded outlined
            @click.stop="dismiss"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'DialogLogin',
    data: () => {
      return {
        visibility: false,
        email: null,
        password: null
      }
    },
    methods: {
      ...mapActions({
        login: 'auth/login',
      }),
      onLogin() {
        let params = {
          provider: 'local',
          email: this.email,
          password: this.password
        }
        this
          .login(params)
          .then(() => {
            this.dismiss()
          })
      },
      show() {
        this.visibility = true
      },
      dismiss() {
        this.visibility = false
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
