<template>
  <v-card
    max-width="800"
    class="mx-auto"
  >
    <v-card-title class="title">Share a Youtube movie</v-card-title>

    <v-card-text>
      <v-text-field
        outlined
        rounded
        dense
        hide-details="true"
        v-model="url"
        label="youtube url"
        type="text"
        required
        class="ml-2 mr-2 mt-4 video-url"
      ></v-text-field>
      <p class="mt-1 subtitle">Enter a Youtube link and hit below button to share your movie.</p>
    </v-card-text>

    <v-card-actions>
      <v-spacer/>
      <v-btn text color="deep-purple accent-4" @click.stop="onShare">SHARE</v-btn>
      <v-spacer/>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'ShareMovie',
    data: () => {
      return {
        url: null
      }
    },
    methods: {
      ...mapActions({
        share: 'video/share'
      }),
      onShare () {
        let params = {
          video: {
            video_url: this.url
          }
        }
        this
          .share(params)
          .then(() => {
            this.$store.commit('snackbar/SUCCESS', 'Congrats! Your movie has been successfully shared.')
          })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
