<template>
  <div class="list">
    <video-item
      v-for="video in videos"
      :key="video.id"
      :video="video"
    />
    <v-card
      max-width="800"
      class="mx-auto"
      v-if="videos.length === 0"
    >
      <v-card-title class="justify-center">There is no movie shared.</v-card-title>

      <v-card-text>
        <v-btn text color="deep-purple accent-4" to="/share">Share your video now!</v-btn>
      </v-card-text>

    </v-card>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import VideoItem from './VideoItem'

  export default {
    name: 'VideoList',
    computed: {
      ...mapGetters({
        videos: 'video/items'
      })
    },
    components: {
      VideoItem
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
