<template>
  <div class="list-item d-flex flex-nowrap mb-6">
    <div class="frame">
      <iframe :src="video.embed_url" frameborder="0" allowfullscreen="allowfullscreen" height="165" width="100%"></iframe>
    </div>
    <div class="details pt-0 pb-0 pl-4 pr-10">
      <h3 class="red--text text-left mt-n1 text-ellipsis title">{{video.title}}</h3>
      <p class="text-left blue-grey--text mb-0 text-ellipsis user-shared">Shared by: {{video.user.email}}</p>
      <div class="d-flex mb-0 align-center">
        <p class="text-left blue-grey--text mb-0 like-reaction">{{(video.reactions_by_group && video.reactions_by_group.like) || 0}}</p>
        <v-icon small class="ml-2">thumb_up</v-icon>
        <p class="text-left blue-grey--text ml-5 mb-0 dislike-reaction">{{(video.reactions_by_group && video.reactions_by_group.dislike) || 0}}</p>
        <v-icon small class="ml-2">thumb_down</v-icon>
      </div>
      <h4 class="text-left grey--text desc">Description:</h4>
      <p class="text-left description mb-0 desc-value">{{video.description}}</p>
    </div>
    <div class="actions" v-if="isAuthenticated">
      <v-row
        class="flex-column ma-0 fill-height"
        justify="center"
      >
        <v-col class="px-0" v-if="video.reaction_of_current_user.reaction_type !== 'like'">
          <v-btn class="like" icon @click.stop="like">
            <v-icon color="success">thumb_up</v-icon>
          </v-btn>
        </v-col>

        <v-col class="px-0" v-if="video.reaction_of_current_user.reaction_type !== 'dislike'">
          <v-btn class="dislike" icon @click.stop="dislike">
            <v-icon color="primary">thumb_down</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'VideoItem',
    props: ['video'],
    computed: {
      ...mapGetters({
        'isAuthenticated': 'auth/isAuthenticated'
      })
    },
    methods: {
      ...mapActions({
        react: 'video/react'
      }),
      like () {
        this.react({video: this.video, reactionType: 'like'})
      },

      dislike () {
        this.react({video: this.video, reactionType: 'dislike'})
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .list-item {
    width: 100%;
    position: relative;
  }
  .list-item > div {
    min-width: 0;
  }
  .list-item .frame {
    min-width: 260px;
    max-width: 260px;
  }
  .list-item .details {
  }
  .list-item .actions {
    position: absolute;
    right: 0;
    top: 0;
  }
  .text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  p.description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
</style>
