<template>
  <v-app id="app">
    <router-view/>
    <v-snackbar
      v-model="visible"
      :absolute="true"
      :top="true"
      :right="true"
      :color="color"
      :timeout="7000"
    >
      {{ message }}
      <v-btn
        text
        @click="dismiss"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'App',
    data: () => {
      return {}
    },
    computed: {
      ...mapGetters({
        visibility: 'snackbar/visibility',
        color: 'snackbar/color',
        message: 'snackbar/message'
      }),
      visible: {
        get () {
          return this.visibility
        },
        set (val) {
          this.$store.commit('snackbar/SET_VISIBILITY', val)
        }
      }
    },

    methods: {
      dismiss() {
        this.$store.commit('snackbar/DISMISS')
      }
    }
  }
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 64px;
    min-height: auto;
  }
  #app > .v-application--wrap {
    min-height: 90vh;
  }
</style>
